
{% extends "layout.html" %}

{% set bodyId = "page-ideias" %}

{% block title %}
    <title>Ideias - Casa Criativa</title>
{% block content title%}



        
    {% block content %}

    <header>
        <a href="/">
           <img src="logo.png" alt="Imagem logomarca">
        </a>
        <nav>
            <li><a href="/">Inicio</a></li>
            <li><a class="button" href="#" onclick="onOff()">Nova Ideia</a></li>
        </nav>
    </header>
    <section id="title">
        <p>em exibição</p>
        <h1>Ideias</h1>
    </section>
    <main>
        <section id="ideias">

        {% include "all_ideas.html" %}
            

        </section>

        </section>
    </main>

    <footer>
        Com ♥️ <a href="https://www.linkedin.com/in/christian-castro-664b03189/" target="_blank">Chris</a>
    </footer>


    {% endblock %}
