<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ideias - Casa Criativa</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="style.css">

</head>

<body id="page-ideias">

<div id="container">

        
    <header>
        <a href="/">
           <img src="logo.png" alt="Imagem logomarca">
        </a>
        <nav>
            <li><a href="/">Inicio</a></li>
            <li><a class="button" href="#" onclick="onOff()">Nova Ideia</a></li>
        </nav>
    </header>
    <section id="title">
        <p>em exibição</p>
        <h1>Ideias</h1>
    </section>
    <main>
        <section id="ideias">

        {% include "all_ideas.html" %}
            

        </section>

        </section>
    </main>

    <footer>
        Com ♥️ <a href="https://www.linkedin.com/in/christian-castro-664b03189/" target="_blank">Chris</a>
    </footer>

</div>

    <!---------------------------------------- Modal ---------------------------------------------------->

    {% include "modal.html" %}
   

    <script src="/script.js"></script>

</body>

</html>